@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

body {
  display: grid;
}
section {
  margin: 2em 0;
}
h3 {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: space-between;
  align-items: center;
}
#logo {
  justify-self: start;
}
nav {
  justify-self: end;
}
nav > a {
  margin-left: 2em;
}

/* MAIN */
main {
  max-width: 1000px;
  justify-self: center;
}
/* About me SECTION*/
.abt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "heading heading"
    "image description";
  justify-content: space-around;
  justify-items: center;
  overflow: hidden;
}
.heading {
  grid-area: heading;
  justify-self: start;
  margin-bottom: 1em;
}

.crop {
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 3em 3em 9em 9em;
  max-width: 300px;
}

#anonymous_img {
  max-height: 100%;
}

/* Projects SECTION */
.projects_interactive_panel {
  display: grid;
  grid-template-columns: 40px 1000px 40px;
  align-items: center;
  justify-content: center;
}
.hide_sausage {
  overflow: hidden;
  width: 1000px;
}
.sausage {
  display: grid;
  grid-template: 1fr / repeat(4, 100%);
}
.arrow {
  color: rebeccapurple;
  display: inline-block;
  width: 0px;
  height: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 5;
}
.arrow_left {
  border-right: 40px solid red;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
.arrow_right {
  border-left: 40px solid red;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
.project_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  height: 300px;
}
.description {
  padding: 2em;
}
.crop_project_thumbnail {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 2em;
  height: 300px;
  width: 450px;
}
.project_thumbnail {
  height: 100%;
}
/* Cheatsheet Project */
