@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

section {
  margin: 2em 0;
}
h3 {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
/* HEADER */
header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
#logo {
  justify-self: start;
}
nav {
  display: flex;
  justify-self: end;
  
}

nav > a {
  margin-left: 1.5em;
}

/* MAIN */
main {
  display: grid;
  justify-items: center;
  justify-content: center;
}
/* About me SECTION*/
.abt {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 400px));
  max-width: 90vw;
  min-width: min-content;
  gap: 1em;
  justify-items: center;
  align-content: center;
}
.heading {
  grid-column: span 2;
}

.crop {
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-self: end;
  max-width: 100%;
  border-radius: 2em;
  aspect-ratio: 1 / 1;
}

/* Projects SECTION */
.projects_interactive_panel {
  display: grid;
  grid-template-columns: 40px 1000px 40px;
  align-items: center;
  justify-content: center;
}
.hide_sausage {
  overflow: hidden;
}
.sausage {
  display: grid;
  grid-template: 1fr / repeat(4, 100%);
}
.arrow {
  display: inline-block;
  width: 0px;
  height: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 5;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}
.arrow_left {
  border-right: 40px solid black;
}
.arrow_right {
  border-left: 40px solid black;
}
.project_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.description {
  padding: 2em;
}
.crop_project_thumbnail {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 2em;
  max-height: 300px;
  max-width: 450px;
}
.project_thumbnail {
  height: 100%;
}
/* Cheatsheet Project */
