/* GLOBAL STYLING */
html * {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-size: 1.125rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
  transition: 75ms;
}
a:hover {
  color: aqua;
}

/* INDIVIDUAL ELEMENTS STYLING */
/* HEADER */
header {
  min-height: 4em;
  padding: 0 0.75em;
  background-color: aliceblue;
  border-bottom: 0.5px solid;
  border-color: rgb(0, 0, 0);
}

/* MAIN */
/* About section */

/* Projects section */
.arrow {
  transition: 150ms;
}
#left_arrow {
  opacity: 0.2;
}
.sausage {
  transition: 400ms;
  position: relative;
  right: 0;
}
